/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --background-light-grey: #d3cece;
    --background-header-dark-grey: #413f54;
    --background-header-light-grey: #3f4045;
    --wine: #e71240ab;
    --red: #ff0000;
  }
  /* 1 rem = 16px(User Agent) = 100%(User Agent) /
  font-size: 62.5%; / 10px */

html{
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
}

body{
  background-color: var(--background-light-grey);

  height: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--background-header-dark-grey);
  box-shadow: 0px 3px 8px var(--background-header-dark-grey);
  background-color: var(--background-header-light-grey);
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 2rem;
}

.header nav ul{
  display: flex;
  margin: 2rem auto;
}

.header nav ul li{
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.header nav ul li > a{
  color: var(--wine);
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
}



#menu-header a:hover{
  color: var(--red);
}

button, a {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 10rem;
  /* background-color: blue; */

  display: flex;
  flex-direction: column;

  padding: 3rem;
  align-items: center;
  justify-content: center;
}

.footer .container{
  /* background-color: greenyellow; */
  height: 100% ;
  display: flex;
  align-items: center;
}

.footer .container a{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}

.footer a > img {
  width: 15%;
  margin-bottom: 1rem;
  /* background-color: red; */
}

.footer p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

